* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #3aafa9;
  color: #feffff;
}

nav {
  background-color: #17252a;
  left: 0;
  right: 0;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: fantasy;
  padding-top: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-facts {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 5vh;
  margin-right: 5vh;
}

h3,
h2,
p {
  padding-top: 10px;
}

h3 {
  color: #def2f1;
  font-weight: bolder;
}

h2 {
  color: #17252a;
  font-weight: bolder;
}

footer {
  text-align: center;
  background-color: #2b7a78;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
}
